<ng-container *ngIf="!gameSelected && !gameStatus">
  <p-button label="Lancer" (onClick)="launch()" id="init-button"></p-button>
</ng-container>

<!--<ng-container *ngIf="gameSelected && gameSelected.index === 1 && (gameStatus === gameStatusEnum.FINISH || gameStatusEnum.IN_PROGRESS)">-->
<ng-container *ngIf="gameSelected && gameSelected.index === 1 && gameStatus !== gameStatusEnum.INITIALISATION">
  <app-anagram [game]="gameSelected"></app-anagram>
</ng-container>

<!--<ng-container *ngIf="gameSelected && gameSelected.index === 2 && (gameStatus === gameStatusEnum.FINISH || gameStatusEnum.IN_PROGRESS)">-->
<ng-container *ngIf="gameSelected && gameSelected.index === 2 && gameStatus !== gameStatusEnum.INITIALISATION">
  <app-palindrome [game]="gameSelected"></app-palindrome>
</ng-container>

<ng-container *ngIf="gameStatus === gameStatusEnum.FINISH">
  <app-score-board></app-score-board>
  <p-button [label]="'Rejouer (' + counter + ')'" (onClick)="launch()" class="action-button"></p-button>
  <p-button [label]="'Stop compteur'" (onClick)="pause()" class="action-button"></p-button>
</ng-container>
