
/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(239, 245, 248);
}

.main-container {
  text-align: center;
  max-width: 500px;
  padding-top: 100px;
  margin: 0 auto;
}

.main-container input{
  margin-right: 10px;
}

.winner {
  color: rgb(52, 168, 53)
;
}

.looser {
  color: rgb(255, 186, 1);
}
