<h3>Tableau des scores</h3>
<p-table [value]="scores">
  <ng-template pTemplate="header">
    <tr>
      <th>Jeu</th>
      <th>Gagné</th>
      <th>Perdu</th>
      <th>Total</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-score>
    <tr>
      <td>{{score.game.title}}</td>
      <td>{{score.win}}</td>
      <td>{{score.loose}}</td>
      <td>{{score.totalGame}}</td>
    </tr>
  </ng-template>
</p-table>

