<h2>
  {{title}}
</h2>

<p> {{rule}}</p>

<input type="text" pInputText [(ngModel)]="inputString1" />
<input type="text" pInputText [(ngModel)]="inputString2" />

<ng-container *ngIf="gameIsWin === undefined || gameIsWin === null; else showResult">
  <p-button label="Jouer" (onClick)="play()" [disabled]="!(inputString1 && inputString2)"></p-button>
</ng-container>
<ng-template #showResult>
  <b [ngClass]="{'winner': gameIsWin, 'looser': !gameIsWin}">{{gameIsWin ? 'Gagné !' : 'Perdu...'}}</b>
</ng-template>
